# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE -VSCode 
*/.vscode/*
!*/.vscode/settings.json
!*/.vscode/extensions.json

# Configuration files
appsettings.json
appsettings.Development.json

# .NET Core build folders
*/bin/
*/obj/
